* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  height: 100%;
}
body {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  box-sizing: content-box;
  margin-bottom: 5.625rem;
}
main {
  position: relative;
}
/* Navagation========================== */
nav {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#mainTxt {
  margin-left: 5rem;
  cursor: pointer;
}

#mainTxt:hover {
  text-decoration: underline;
}

#btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 9rem;
  height: 4rem;
  margin-right: 5rem;
  cursor: pointer;
  box-sizing: content-box;
}

#btn div:first-of-type {
  background-image: url("./assets/moon.svg");
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
}
.filt {
  filter: invert(100%) sepia(0%) saturate(7428%) hue-rotate(295deg)
    brightness(111%) contrast(84%);
}

/* Search Section========================== */
#srch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.marg {
  margin-top: 4rem;
}
#form {
  position: relative;
}
#form > input {
  padding: 1rem;
  padding-left: 2rem;
  font-family: Arial, FontAwesome;
  border: none;
  height: 3rem;
  width: 30rem;
  border-radius: 0.25rem;
  margin-left: 5rem;
  font-size: 1rem;
}
::placeholder {
  color: #ffffff;
}
#formSelec select {
  padding: 1rem;
  margin-right: 5rem;
  height: 3rem;
  width: 10rem;
  border: none;
  border-radius: 0.25rem;
}

/* Main & Cards========================== */
#main {
  width: 100%;
  padding-bottom: 5.625rem;
}

article {
  float: left;
  margin-top: 5.625rem;
  margin-left: 5rem;
  width: 16.25rem;
  height: 18.75rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 0px 0px white;
}

article > div:first-of-type {
  width: 100%;
  height: 9.375rem;
  background-size: cover;
  background-position: center;
}

article div:last-of-type div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 14.25rem;
  margin-top: 0.6875rem;
  margin: 1.5rem;
}
article div:last-of-type div h3 {
  margin-bottom: 0.75rem;
}
article div:last-of-type div p {
  margin-bottom: 0.5rem;
}

/* Expand Section========================== */
#expand {
  width: 100%;
  height: 104vh;
  position: absolute;
  right: 0;
  top: 0em;
}

#expand > div {
  width: 85%;
  margin: auto;
  margin-top: 3.5rem;
  height: 81.5vh;
}

.btnExp {
  width: 8rem;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 6px 0px black;
}

.btnExp > span:first-of-type {
  font-size: 1.9rem;
  padding-bottom: 3px;
}

.btnExp > span:last-of-type {
  font-size: 1.2rem;
}
#expand #contExp {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50vh;
  margin-top: 3rem;
  cursor: pointer;
  justify-content: space-evenly;
}
#expand #flag {
  width: 35rem;
  height: 50vh;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 4px 0px black;
}
#expand #holdInf {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  width: 45rem;
  height: 50vh;
}
#expand h1 {
  font-size: 1.6rem;
}
#holdInf .inf {
  margin: 0;
  height: 23vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 7rem;
  margin-top: 1.5rem;
}

#holdInf #border {
  margin-top: 5rem;
  grid-area: 2/1/3/3;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-left: 7rem;
}
#btnBor {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#holdInf #border #noBtn {
  width: 9rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#holdInf #border .selectBorder {
  width: 8rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.7rem;
  box-shadow: 0px 0px 4px 0px black;
}
#holdInf #border .selectBorder:hover {
  font-weight: 900;
}

#expand .btnExp:hover {
  font-weight: 900;
}

/* JS DOM manipulation========================== */
.bDark {
  background-color: #202c37;
  color: #ffffff;
}

.dark {
  background-color: #2b3945;
  color: #ffffff;
}

.blight {
  background-color: #fafafa;
  color: #111517;
}

.light {
  background-color: #ffffff;
  color: hsl(200, 15%, 8%);
}

.your-class::placeholder {
  color: #858585;
}

#srch .marTop {
  margin-top: 0px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* Auto Complete================================ */

.autocomplete {
  width: 30rem;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 5rem;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  font-weight: 900;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: #3e85a4 !important;
  color: #ffffff;
}

@media (max-width: 340px) {
  body {
    font-size: 12px;
    width: 340px;
  }

  #srch {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }
  nav {
    width: 340px;
  }

  #form {
    width: 100%;
  }
  #form > input {
    width: 300px;
    padding: 5px;
    margin-left: 20px;
  }

  #formSelec > select {
    margin-left: 20px;
    margin-top: 40px;
  }

  article {
    width: 270px;
    height: 450px;
    margin-left: 33px;
  }

  article > div:first-of-type {
    height: 250px;
  }
  article div:last-of-type div {
    margin: 34px 24px 0px 24px;
  }
  article div:last-of-type div h3 {
    margin-top: 15px;
    margin-bottom: 22px;
  }
  #mainTxt {
    margin-left: 10px;
  }
  #btn {
    margin-right: 10px;
    justify-content: space-around;
  }

  #btn div:first-of-type {
    margin-left: 56px;
  }
  /* Expand screen======================================= */
  #expand {
    width: 340px;
    background-color: #202c37;
    height: 1020px;
    margin-top: 16px;
  }
  .btnExp {
    width: 117px;
    height: 35px;
  }
  #expand #contExp {
    flex-direction: column;
    width: 100%;
    height: 98vh;
    margin-top: 70px;
  }
  #expand #flag {
    width: 100%;
    height: 350px;
    background-size: cover;
  }

  #expand #holdInf {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    width: 300px;
  }

  #holdInf #border {
    margin-left: 0px;
    margin-top: 5rem;
    grid-area: 3/1/4/2;
    grid-template-columns: 1fr;
    margin-top: 100px;
  }
  #holdInf #border #noBtn {
    height: 50px;
  }

  #holdInf div:first-child {
    margin-top: 50px;
  }

  #holdInf div:first-child h1 {
    margin-bottom: 18px;
  }
  #holdInf div:nth-child(2) {
    margin: 0px 0px -60px 0px;
    height: 105px;
    gap: 10px;
  }
  #holdInf .inf {
    margin-left: 0px;
  }

  #holdInf #border .selectBorder {
    width: 90px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 341px) and (max-width: 401px) {
  body {
    font-size: 12px;
    width: 401px;
  }

  #srch {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }
  nav {
    width: 100%;
  }

  #form {
    width: 100%;
  }
  #form > input {
    width: 364px;
    padding: 5px;
    margin-left: 20px;
  }

  #formSelec > select {
    margin-left: 20px;
    margin-top: 40px;
    width: 180px;
  }

  article {
    width: 337px;
    height: 450px;
    margin-left: 33px;
  }

  article > div:first-of-type {
    height: 250px;
  }
  article div:last-of-type div {
    margin: 34px 24px 0px 24px;
  }
  article div:last-of-type div h3 {
    margin-top: 15px;
    margin-bottom: 22px;
  }
  #mainTxt {
    margin-left: 10px;
  }
  #btn {
    margin-right: 10px;
    justify-content: space-around;
  }

  #btn div:first-of-type {
    margin-left: 56px;
  }
  /* Expand screen======================================= */
  #expand {
    width: 400px;
    height: 1020px;
    top: -16px;
  }
  .btnExp {
    width: 117px;
    height: 35px;
  }
  #expand #contExp {
    flex-direction: column;
    width: 100%;
    height: 98vh;
    margin-top: 70px;
  }
  #expand #flag {
    width: 100%;
    height: 350px;
    background-size: cover;
  }

  #expand #holdInf {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    width: 300px;
  }

  #holdInf #border {
    margin-left: 0px;
    margin-top: 5rem;
    grid-area: 3/1/4/2;
    grid-template-columns: 1fr;
    margin-top: 100px;
  }
  #holdInf #border #noBtn {
    height: 50px;
  }

  #holdInf div:first-child {
    margin-top: 50px;
  }

  #holdInf div:first-child h1 {
    margin-bottom: 18px;
  }
  #holdInf div:nth-child(2) {
    margin: 0px 0px -60px 0px;
    height: 105px;
    gap: 10px;
  }
  #holdInf .inf {
    margin-left: 0px;
  }

  #holdInf #border .selectBorder {
    width: 90px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 1300px) and (max-width: 1400px) {
  article {
    width: 228px;
    margin-left: 90px;
  }
  #holdInf #border .selectBorder {
    width: 110px;
  }
  #expand {
    height: 112vh;
  }
}
@media (min-width: 1700px) and (max-width: 1900px) {
}
